@font-face {
  font-family: "iconfont"; /* Project id 2986001 */
  src: url('iconfont.woff2?t=1638519049828') format('woff2'),
       url('iconfont.woff?t=1638519049828') format('woff'),
       url('iconfont.ttf?t=1638519049828') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-gengduo:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-bangzhu:before {
  content: "\e603";
}

.icon-tianjia:before {
  content: "\e657";
}

.icon-paixingbang:before {
  content: "\e7bd";
}

.icon-wancheng:before {
  content: "\e654";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-bangzhu1:before {
  content: "\e620";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-tongxunlu:before {
  content: "\e649";
}

.icon-icon-:before {
  content: "\e732";
}

.icon-biaoqing:before {
  content: "\e60b";
}

.icon-liaotian:before {
  content: "\e63f";
}

.icon-thin-_pin_bookma:before {
  content: "\e60c";
}

.icon-daiban:before {
  content: "\e69b";
}

.icon-shoucang1:before {
  content: "\e8b9";
}

.icon-daiban1:before {
  content: "\e64b";
}

.icon-zhiding:before {
  content: "\e634";
}

.icon-zhidingzhanshi:before {
  content: "\e81c";
}

