/* 聊天： */
.lemon-wrapper {
  font-size: 16px !important;
}

.lemon-contact__time {
  font-size: 14px !important;
  line-height: 22px !important;
}

.lemon-contact__content {
  font-size: 14px !important;
}

.cur-user {
  font-size: 16px !important;
}

.lemon-message__title {
  font-size: 14px !important;
}

.content-show {
  font-size: 16px !important;
}

.lemon-message-event__content {
  font-size: 14px !important;
}

.lemon-editor__tip {
  font-size: 14px !important;
}

.lemon-button {
  font-size: 16px !important;
}

/* 通讯录： */
.lemon-sidebar__label {
  font-size: 14px !important;
}

.lemon-contact-info h4 {
  font-size: 18px !important;
}